body::-webkit-scrollbar {
  display: none;
}

.main {
  position: relative;
  width: 100vw;
  height: 100vh;        
  background: #000;    
  overflow: hidden;
}

.pointer-wrapper {
  position: absolute;
  transform: rotate(-5deg);
}
.pointer-icon {
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: transform 0.2s ease;
  transform-origin: bottom center;  
}

.pointer-icon:hover {
  transform: scale(1.2);   
}


.pointer-card {
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(47, 47, 47, 0.95);
  color: #f9fafb;
  border-radius: 12px;
  padding: 10px 12px;
  max-width: 280px;
  display: flex;
  gap: 8px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.45);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.18s ease-out, transform 0.18s ease-out;
  transform-origin: bottom center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  z-index: 10;
  height: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pointer-card::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 8px;
  border-style: solid;
  border-color: rgba(46, 46, 47, 0.95) transparent transparent transparent;
}

.pointer-image-wrapper {
  position: relative;
  width: 160px;
  height: 150px;
}

.pointer-card-image {
  width: 160px;
  height: 150px;
  border-radius: 8px;
  object-fit: cover;
}

/* Arrow Buttons */
.arrow-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: rgba(46, 46, 47, 0.95);
  color: white;
  border: 1px solid rgba(130, 128, 128, 0.3);
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.15s ease;
  z-index: 5;
}


.arrow-left {
  left: -40px; 

}
.arrow-right {
  right: -40px;
}


.arrow-btn:hover {
  background: white;
  color: black;
}

.pointer-card-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.pointer-card-content h4 {
  margin: 0;
  font-size: 25px;
  font-weight: 600;
}

.pointer-card-content p {
  margin: 0;
  font-size: 15px;
  opacity: 0.85;
}

.pointer-wrapper:hover .pointer-card {
  opacity: 1;
  pointer-events: auto;
  transform: translateX(-50%) translateY(-4px);
}

.below-section {
  position: relative;
  background: #000;    
  padding: 120px 120px 160px;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: -40px;   
}


.below-section::before {
  content: "";
  position: absolute;
  top: -80px;           
  left: 0;
  right: 0;
  height: 80px;         
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),  
    #000000            
  );
  pointer-events: none;
}

.rise-heading {
  font-size: 60px;
  font-weight: 700;
  color: #e5e7eb;
  margin: 0;
  opacity: 0;
  transform: translateY(40px);
}

.rise-heading.visible {
  animation: riseUp 1s ease-out forwards;
}

.below-text {
  max-width: 640px;
  color: #9ca3af;
  font-size: 40px;
  line-height: 1.6;
  margin: 0;
}

.below-text.visible {
  animation: riseUp2 2s ease-out forwards;
}

/* Upward animation */
@keyframes riseUp {
 0% {
    opacity: 0;
    clip-path: inset(100% 0 0 0); 
    transform: translateY(40px); 
  }
  100% {
    opacity: 1;
    clip-path: inset(0 0 0 0); 
    transform: translateY(0);
  }
}
@keyframes riseUp2 {
   0% {
    opacity: 0;
    clip-path: inset(100% 0 0 0);
    transform: translateY(60px);
  }
  100% {
    opacity: 1;
    clip-path: inset(0 0 0 0);
    transform: translateY(0);
  }
}
